<a href="https://colab.research.google.com/github/Baji-NRI/Basic-Code-of-ML/blob/main/Dictionary_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Iterations in CDT

# i is a temporary - "_"

# In a List

list1 = [10, 20, 30, 40, 50]

for i in list1 :
    print (f"The item is {i}")

The item is 10
The item is 20
The item is 30
The item is 40
The item is 50

In [ ]:
print(f"the double of {i} is {i*2}")

the double of 50 is 100

In [ ]:
NRI500 = {
  "Roll no" : "NRI500",
  "Name" : "Sai Ram",
  "DOB" : "12/12/2012",
  "GPA" : 6.5,
  "isMarried" : False,
  "isStudent" : True,
}

In [ ]:
for _ in NRI500.keys():
    print(_)

Roll no
Name
DOB
GPA
isMarried
isStudent

In [ ]:
for _ in NRI500.values():
    print(_)

NRI500
Sai Ram
12/12/2012
6.5
False
True

In [ ]:
for _ in NRI500.items():
    print(_)

('Roll no', 'NRI500')
('Name', 'Sai Ram')
('DOB', '12/12/2012')
('GPA', 6.5)
('isMarried', False)
('isStudent', True)

In [ ]:
for key in NRI500:
    print(f"The key is {key} and value is {NRI500[key]}")

The key is Roll no and value is NRI500
The key is Name and value is Sai Ram
The key is DOB and value is 12/12/2012
The key is GPA and value is 6.5
The key is isMarried and value is False
The key is isStudent and value is True

In [ ]:
for k,v in NRI500.items():
    print(f"The Key is {k} and value is{v}")

The Key is Roll no and value isNRI500
The Key is Name and value isSai Ram
The Key is DOB and value is12/12/2012
The Key is GPA and value is6.5
The Key is isMarried and value isFalse
The Key is isStudent and value isTrue

**Given the following list of numbers: "[1,2,3,4,5]", create a dictionary where each number is a key and its value is the square of that number _**
Python
 numbers = [1,2,3,4,5]

Converting 2 lists into a dictionary
dname = dict( zip(L1,L1))

L1 = (1,2,3,4,5)
  L2 = L1==2

In [ ]:
l1 = [1, 2, 3, 4, 5]

In [ ]:
for _ in l1 :
    print (f"the square of {_} is {_ **2}")

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25

In [ ]:
L2 = []

In [ ]:
for _ in L1:
    L2.append(_**2)

In [ ]:
print (L1)
print (L2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [ ]:
# converting 2 lists into a dictionary
# dname = dict(zip(L1,L2)

d1 = dict(zip(L1,L2))

In [ ]:
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}