<a href="https://colab.research.google.com/github/Baji-NRI/Basic-Code-of-ML/blob/main/DICTIONARY_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dictionary

d1 = {
     "Name" :"ABCD",
     "Age"  : 20,
     "Height" : 9.5,
}

# *set:-

# set is an ordered collection of unique elements

# *duplicates are not allowed

# *no indexing

# *mutable

# *optimised membership testing

In [ ]:
# creating a set
#{}
Set1 = {1,2,3,4,}

# newset = set ([List Name])

In [ ]:
[10,20,30,40,30,40,50,60,10]

[10, 20, 30, 40, 30, 40, 50, 60, 10]

In [ ]:
#Adding elements
set1 = {10,20,30}

In [ ]:
#Adding single elements to set

Set1.add(40)
Set1

{1, 2, 3, 4, 40}

In [ ]:
#Add multiple elements into a set

Set1.update([50,60,70,40,30])
Set1

{10, 20, 30, 40, 50, 60, 70}

In [ ]:
#remove elements from a set
Set1.remove(40)
Set1

{10, 20, 30, 50, 60, 70}

In [ ]:
#Remove elements from a set

Set1.discard(90)
Set1

{10, 20, 30, 50, 60, 70}

# error wise

#1.possible - .remove (element)
#2.not possible- .discard(elements)
#Remove,discard,pop,clear

In [ ]:
#set operators

A = {1,2,3}
B = {4,5,6}

#set operations:-

#Union-> |
#Intersection-> &
#Difference-> -
#Symmetric Difference-> ^

In [ ]:
#union:-

A|B

{1, 2, 3, 4, 5, 6}

In [ ]:
#intersection:-

A&B

set()

In [ ]:
#Difference:-
A-B

{1, 2, 3}

In [ ]:
#Symmetric difference
A^B

{1, 2, 3, 4, 5, 6}

In [ ]:
#membership testing - very fast
#To check the presence of a element
5 in A

False

#*Tuple

# #ordered but immutable collection

# #Maintains order

# #Allows duplicates

# #Immutable

# #uses less memory

#faster than list

In [ ]:
#creating a tuple
t1 = (10,20,30,40)
t2 = (50,)

In [ ]:
#Access the elements
t1 [0]
t1 [-1]
t1 [1:3]

(20, 30)

In [ ]:
#methods for tuples
t1.count (20)

1

In [ ]:
t1.index(30)

2

In [ ]:
#packing and unpacking
Data = (1,2,3)
A,B,C = Data

In [ ]:
B

2

# Functions:-

# functions is a block of reusable code designed to perform a specific task


#SIMPLE DEF:-

# functions is a named block of code that runs only where it is called

#WHY WE NEED FUNCTIONS:-

# 1.REDUCE CODE REPETITION

# 2.improve readability

# 3.make programs modular

# 4.simplify debugging

# 5.enable reuse across programs

# 1. built in functions - print,.upper,.lower

# 2.user defined functions - new create